@font-face {
    font-family: "urban";
    src: url("../images/The\ Urban\ Way.ttf");
}
body {
    background: url("../images/background.jpg");
    background-size: 100%;
    font-family: urban;
    height: 100%;
}
.jumbotron {
    opacity: 0.8;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
}
.card {
    text-align: center;
    font-size: 25px;
    opacity: 0.8;
    background-color: black;
    color: white;
}

#trainTable {
    font-size: 15px;
    

}

.addTrain {
    background-color: black;
    color: white;
    opacity: 0.8;
}

.btn-primary {
    background-color: black;
    opacity: 0.8;
    border: black 2px solid;
}